<div class="container">
  <nav class="navbar">
    <% if !@week.prior_week.nil? %>
      <%= link_to "Prior Week", user_week_path(user_id: current_user.id, id: @week.prior_week) %>
    <% end %>
    <%= link_to "Next Week", user_weeks_path(user_id: current_user.id, id: params[:id]), method: :post %>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-center" id="cal_grid">
    <%= render @days %>
  </div>
</div>
<div class="container">
  <div class="row" id="todo_grid">
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card my-2 w-100">
        <div class="card-header">
          Home To Do
        </div>
        <div class="card-body">
          <div id="incomplete_home_todo_list">
            <%= render @incomplete_home_todos %>
          </div>
          <hr>
          <div id="complete_home_todo_list" class="completed">
            <%= render @complete_home_todos %>
          </div>
        </div>
      </div>
    </div>
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card my-2 w-100">
        <div class="card-header">
          Work To Do
        </div>
        <div class="card-body">
          <div id="incomplete_work_todo_list">
            <%= render @incomplete_work_todos %>
          </div>
          <hr>
          <div id="complete_work_todo_list" class="completed">
            <%= render @complete_work_todos %>
          </div>
        </div>
      </div>
      </div>
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card my-2 w-100">
        <div class="card-header">
          Need to Buy
        </div>
        <div class="card-body">
          <div id="incomplete_buy_todo_list">
            <%= render @incomplete_buy_todos %>
          </div>
          <hr>
          <div id="complete_buy_todo_list" class="completed">
            <%= render @complete_buy_todos %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>