<div class="container">
  <nav class="navbar">
    <% if !@week.prior_week.nil? %>
      <%= link_to "Prior Week", user_week_path(user_id: current_user.id, id: @week.prior_week) %>
    <% end %>
    <%= link_to "Next Week", user_weeks_path(user_id: current_user.id, id: params[:id]), method: :post %>
  </nav>
</div>
<div class="container">
  <div class="row" id="cal_grid">
    <%= render @days %>
  </div>
</div>
<div class="container">
  <div class="card my-2">
    <div class="card-header">
      To Do
    </div>
    <div class="card-body" id="incomplete_todo_list">
      <%= render @incomplete_todos %>
    </div>
    <hr>
    <div class="card-body" id="complete_todo_list">
      <%= render @complete_todos %>
    </div>
  </div>
</div>